.head {
    padding-top: 30px;
    padding-bottom: 20px;
    /* margin-top: 3vw; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(220, 225, 222, 1);
    font-size: 2.5em;
    text-align: center;
}

input[type=select]{
    width: 200px;
}

input[type=text],
.input-type-text {
    position: relative;
    /* width: 100%; */
    padding: 7px 18px; 
    margin: 6px 0;
    background-color: white;
    /* box-sizing: border-box; */
    border-radius: 8px;
    height: 54px;
  }
  
.update-profile-submit {
    background-color: #34c906;
    border: none;
    color: white;
    padding: 8px 40px; 
    text-align: center;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 40px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;  
    width : 200px;
}

.update-profile-submit:hover{
    opacity:1;
    color: white;
}

input[type=submit] {
    background-color: #34c906;
    border: none;
    color: white;
    padding: 8px 40px; 
    text-align: center;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 40px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;  
    width : 200px;
}

input[type=submit]:hover {
    opacity:1;
}
.close{
    width: 60px;
}
#experienceButton {
    background-color: rgba(39, 76, 119, 1);
    width: 200px;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: -20px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;  
}

#experienceButton:hover{
    opacity:1;
}
.form-control.validate{

}
#role-special-width{
    width: 200px;
}