body{
    background: linear-gradient(to bottom, rgba(96, 150, 186, 1),  rgba(220, 225, 222, 1)) fixed no-repeat;
}

#myteams {
    margin-top: 3vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(220, 225, 222, 1);
    font-size: 2.5em;
    text-align: center;
}
.homepage{
    font-family: 'Montserrat', sans-serif;
    margin:0;
  }
  
  .buttonwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 100vw;
    flex-flow: column;
  }
  .teamButton {
    flex: auto;
    padding: 30px;
    margin-top: 2vw;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 50px;
    min-width: 20vw;
    background:  rgba(139, 140, 137, 1);
   }
  
  
  .teamButton:hover {
    opacity: 0.5;
    background: rgba(39, 76, 119, 1); 
  }
  .teamNameButton {
    flex: auto;
    margin-top: 0.5vw;
    min-width: 20vw;
    padding: 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 25px;
    background:  rgba(96, 150, 186, 1);
   }

  .teamNameButton:hover {
    opacity: 0.5;
    background: rgba(39, 76, 119, 1);
  }
  #teamButtonText {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.75em;
  }