.lead-page-container{
    display: flex;
    flex-direction: row;
}

.side-panel{
    height: 870px; /* or any value */
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}

.side-panel-container{
    width: 30%;
}
.main-panel{
    width: 70%;
}

.some-container{
    width: 100%;
}

.role-card-container{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 4%;
}

.add-role-button{
    width: 100%;
}

.main-panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button{
    background-color: aliceblue;
    background-repeat:no-repeat;
    border: none;
    width: 100%;
    height: 100%;
}

.row-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.closeButtonContainer{
    background-color: aliceblue;
    display: flex;
    justify-content: flex-end;
}

.outer-container{
    margin-left: 5%;
    margin-right: 5%;
}