.extra-box-fill{
    width: 87vw;
}
.fas {
    color:  rgba(220, 225, 222, 1);  
}
    
.homebrand{    
    color: rgba(220, 225, 222, 1);  
    font-family: 'Dancing Script', cursive; 
    font-weight: bold;
    font-size: 1.5em;  
}
    
a, a:hover, a:active, a:visited, a:focus {   
    text-decoration:none;  
}
    
.homebrand:hover, .fas:hover {   
    opacity: 0.5;
}
    
.navbar {
    background: linear-gradient(to right,rgba(39, 76, 119, 1),  rgba(139, 140, 137, 1));
}