.container{
    margin-left: 0%;
    margin-right: 0%;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#profile-head{
    display: flex;
    background-color: rgb(27, 82, 128);
    flex-direction: row;
}

#photo-name-role{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;

}
.name-profile h1, .name-profile h2{
    text-align: left;
}
.distance-rating{
    text-align: right;
    padding: 2px;
}

h2{
    color: white;
}
.card{
    background-color: rgb(35, 83, 83);
    border-radius: 10px;
    box-shadow: 1px;
    padding: 10px 20px;
}

.profile-photo{
    width:15%;
    height:100%;;
    border-radius: 50%;

}

.name-profile{
    margin-left: 10%;
}

.distance-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-body{
    display: flex;
    flex-direction: row;
}

.profile-credentials-skill{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-workexp{
    width: 50%;
}

.card-row{
    margin-left: 3%;
    display: flex;
    align-content: flex-start;
}

.profile-credentials-skill{
    margin-right: 3%;
}

.profile-workexp-title{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

#work-expereince-card{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.profile-workexp-card{
    margin-top: 2%;
}

.cardContainer{
    margin-top: 3%;
}
.name-profile h1, .name-profile h2{
    color: white;
    font-weight: lighter;
}
.fas.fa-star{
    color: gold;
}
.fas.fa-map-marker-alt{
    color: rgba(221, 105, 84, 0.671);
}
.fas.fa-map-marked-alt, .fas.fa-book, .fas.fa-clock{
    color: white;
}
.row-distance-rating{
    color: white;
}
.profile-workexp-title h1{
    color: black;
    font-weight: lighter;
}

.card-row {
    color:white;
    font-weight:lighter;
}
.card-row h3{
    font-weight: lighter;
}
.distanceNumber{
    margin-top: auto;
}
.ratingNumber{
    margin-bottom: auto;
}