.profileCardContainer{
    height: 300px;
    overflow-y: auto;
}

button.special-temp-button {
    background-color: aliceblue;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    outline:none;
}